<!-- <footer>
  <div class="f-info">
    <div class="f-info-social">
      <a href="https://www.facebook.com" target="_blank">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="https://www.twitter.com" target="_blank">
        <i class="fab fa-twitter-square"></i>
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <i class="fab fa-instagram-square"></i>
      </a>
    </div>
    <div>
      <i class="fa-regular fa-copyright">&nbsp;</i>DreamDwell Private Limited
    </div>
    <div class="f-info-links">
      <a href="/about">About Us</a>
      <a href="/contact">Contact Us</a>
      <a href="/terms">Terms of Use</a>
      <a href="/privacy">Privacy Policy</a>
    </div>
  </div>
</footer> -->

<footer>
  <!-- Footer Social Icons Section -->
  <div class="f-info">
    <div class="f-info-social">
      <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
        <i class="fab fa-twitter-square"></i>
      </a>
      <a
        href="https://www.instagram.com"
        target="_blank"
        aria-label="Instagram"
      >
        <i class="fab fa-instagram-square"></i>
      </a>
    </div>

    <!-- Footer Branding Text -->
    <div>
      <i class="fa-regular fa-copyright"></i>&nbsp;DreamDwell Private Limited
    </div>

    <!-- Footer Links Section -->
    <div class="f-info-links">
      <!-- <a href="/" aria-label="About Us">About Us</a>
      <a href="/contact" aria-label="Contact Us">Contact Us</a>
      <a href="/terms" aria-label="Terms of Use">Terms of Use</a>
      <a href="/privacy" aria-label="Privacy Policy">Privacy Policy</a> -->

      <a href="/about-us">About Us</a>
      <a href="/contact-us">Contact Us</a>
      <a href="/terms-of-use">Terms of Use</a>
      <a href="/privacy-policy">Privacy Policy</a>
    </div>
  </div>
</footer>
